#categories{
    padding: 9rem 0rem;
}

.categories__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--font-color);
}

.service{
    color: var(--blue-color);
}

.categories__wrapper p{
    color: gray;
    font-size: small;
}

.categories__wrapper--header{
    margin-bottom: 50px;
}

.categories__wrapper--grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    justify-content: space-around;
    grid-gap: 8px;
}

.categories__wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.categories__wrapper--img{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: var(--light-color);
    border-radius: 0.75rem;
    height: 90px;
    margin-bottom: 10px;
    width: 90px;
}