.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--blue-color);
}

.nav__lists{
    display: flex;
    gap: 20px;
}

.nav__list{
    font-size: 17px;
    cursor: pointer;
}

.submenu:hover{
    transform: translateY(-0.5rem) translateX(0.5rem);
}

.header__wrapper--mid{
    text-align: center;
}

.header__wrapper--mid h1{
    position: relative;
    color: var(--font-color);
    top: 10px;
    font-family: 'Libre Baskerville', serif;
}

.hamburger{
    background: transparent;
    z-index: 10010;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: none;
    cursor: pointer;
}

.hamburger{
    display: none;
}

.menu{
    background-color: var(--light-color);
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    color:var(--blue-color);
    list-style: none;
    padding: 10rem 4rem;
}

.fa-xmark{
    display: none;
}

.menu a{
    text-decoration: none;
    color: var(--blue-color);
    margin: 1.7rem;
}

.menuItem:hover{
    font-size: large;
    color: var(--primary-color);
}

.link{
    margin-bottom: 16px;
}

.link2{
    margin-bottom: 11px;
}

@media(max-width: 880px){
    .header__wrapper--mid h1{
        font-size: 27px;
    }
    .header__wrapper--left{
        display: none;
    }
    .signup{
        display: none;
    }
    .login{
        display: none;
    }
    .header__wrapper--mid{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .hamburger{
        display: block;
    }
}
@media(max-width: 470px){
    
    .header__wrapper--mid h1{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .header__wrapper--mid sub{
        font-size: 9px;
    }
}
@media(max-width: 774px){
    .header__wrapper{
        margin-bottom: 27px;
    }
}
.showMenu{
    transform: translateY(0);
}